@font-face {
    font-family: 'Geometria';
    src: url("/static/assets/fonts/Geometria.ttf");
}

@font-face {
    font-family: 'Geometria-Bold';
    src: url("/static/assets/fonts/Geometria-Bold.ttf");
}

@font-face {
    font-family: 'Geometria-Medium';
    src: url("/static/assets/fonts/geometria-medium.ttf");
}

@font-face {
    font-family: 'Vazir';
    src: url("/static/assets/fonts/Vazir-Thin.woff");
}

@font-face {
    font-family: 'Kalameh';
    src: url("/static/assets/fonts/Kalameh_Black.woff");
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
        margin: 0 auto;
    }
}

::-webkit-scrollbar{
    width: 9px;

}

::-webkit-scrollbar-thumb{
    background: #1583ff;
    border-radius: 30px;
}

::-webkit-scrollbar-track{
    background: #ddd;
}

ul li, li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

a:hover, a:focus {
    text-decoration: none;
    outline: 0;
}

button:focus {
    outline: 0 !important;
}

input[type="submit"]:focus {
    outline: 0;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/static/assets/iconfont/MaterialIcons-Regular.ttf);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Vazir';
    line-height: 1.8;
    scroll-behavior: smooth;
}


h1, h2 {
    font-family: 'Kalameh' !important;
}

p {
    font-family: "Vazir";
    font-weight: bold;
    line-height: 33px;
    direction: rtl;
    color: #999;
    text-align: justify;
}

.navbar-toggle {
    background-color: #ddd;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

/* Custome */
.nav li a {
    background: none !important;
}

.nav li a:hover {
    color: #08294c !important;
}

.symbol-currency {
    color: #288eff;
}

table {
    background: #fafafa !important;
    width: 100%;
    border-radius: 12px;
    padding: 5px;
    font-family: Vazir;
}

td {
    padding: 5px !important;
}


tr {
    border-bottom: 1px solid #eee;
    display: block;
    margin: auto;
    padding: 12px;
}

tr:last-of-type {
    border-bottom: none;
}

tr td:first-of-type {
    font-weight: bold;
    font-size: 17px;
    font-family: Kalameh;
    width: 70px;
    color: #444;
}

.time {
    margin: 7px;
    display: inline-block;
    border-radius: 7px;
    border: 1px solid rgba(221, 221, 221, 0.8);
    padding: 6px 12px !important;
    cursor: not-allowed;
    transition: all .2s;
}

.time.available:hover{
    border-color: #00e390;
    background: #20f2a0;
}

.time.available:hover .time-timing{
    color: #fff;
}

.time.available:hover .time-price{
    color: #f0f0f0;
}

.time.available {
    color: #fff;
    cursor: pointer;
}


.time-timing{
    font-weight: bold;
    color: #333;
}

.time-price{
    color: #999;
    letter-spacing: 1.2px;
}

.not-available{
    color: #bbb;
    border-color: rgba(238, 177, 158, 0.7);
}

.not-available *{
    color: inherit!important;
}


.time p {
    margin: 0;
    text-align: center;
    transition: inherit;
}

.today{
    border-right: 5px solid #5aebff;
}

.time-not-found{
    margin: auto;
    display: inline-block;
    margin-bottom: 10px;
    width: 120px;
    border-radius: 5px;
    color: #ff6454;
    font-weight: bold;
}

/* End */


.nav li a:hover, .nav li a:focus {
    background: transparent;
}

.gutters-80.row {
    margin-right: -40px;
    margin-left: -40px;
}

@media (max-width: 1199px) {

    .gutters-80.row {
        margin-right: -15px;
        margin-left: -15px
    }
}

.gutters-80 > [class^="col-"] {
    padding-right: 40px;
    padding-left: 40px;
}

@media (max-width: 1199px) {

    .gutters-80 > [class^="col-"] {
        padding-right: 15px;
        padding-left: 15px
    }
}


.header--bg {
    background: url("/static/assets/images/header-background.png") left center no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 1399px) {

    .header--bg {
        background-size: cover
    }
}

.header .navbar {
    padding-top: 20px;
    background: transparent;
}

@media (min-width: 1000px) {
    .header .nav li {
        padding-right: 15px;
    }

    .header .nav li:last-child {
        padding-right: 0;
    }
}

.header .nav li a {
    font-family: 'Vazir';
    font-size: 19px;
    color: #aaa;
    font-weight: bold;
    transition: all .2s;
}

@media (min-width: 1390px) {
    .header .nav li a:hover {
        color: #0f81f8;
    }
}


@media (max-width: 900px) {
    .navbar .nav {
        float: none !important;
    }
}

.header .row {
    padding-top: 40px;
    padding-bottom: 120px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: first;*/
}

.header img {
    /*width: 100%;*/
    object-fit: cover;
}

.header .container {
    /*width: 95%!important;*/
}

.header__content {
    background: #fff;
    padding: 40px !important;
    border-radius: 40px;
}

.header__content .title {
    font-size: 55px;
    background: -webkit-linear-gradient(#2086F7, #2BA8F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
    padding-top: 25px;
    margin-bottom: 30px;
}

.header__content .title-style {
    background: url("/static/assets/images/title-shape.png") left center no-repeat;
    padding: 0px 135px;
    vertical-align: middle;
    margin-left: 20px;
}

.header__content p {
    font-size: 17px;
    line-height: 2;
    margin-bottom: 50px;
}

.header__button {
    display: inline-block;
    font-family: 'Vazir';
    font-size: 18px;
    font-weight: bold;
    color: #0f81f8;
    padding: 13px 50px;
    margin: 10px;
    border: 1px solid #1A82F8;
    border-radius: 30px;
    position: relative;
    background-color: transparent;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, .3);
    margin-right: 20px;
    text-decoration: none !important;
}

@media (max-width: 1199px) {

    /*.header__button {*/
    /*    border-color: gray;*/
    /*    color: #fff;*/
    /*    margin-bottom: 20px*/
    /*}*/
}

.header__button:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    border: inherit;
    -webkit-filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, .4));
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, .4));
}

.header__button:hover {
    background-color: #0F81F8;
    color: #fff;
    text-shadow: none;
    border-color: transparent;
    -webkit-box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.21);
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.21);
}

.navbar-brand {

}

.navbar-brand img {
    width: 70px !important;
    height: 70px !important;
}

.page-section {
    padding-top: 100px;
    padding-bottom: 120px;
}

.page-section__title {
    font-size: 40px;
    color: #1680F8;
    margin-bottom: 5px;
}

.page-section__title--white {
    color: #fff;
}

.page-section__subtitle {
    font-size: 16px;
    margin-bottom: 80px;
}

.page-section__subtitle a {
    font-family: "Geometria-Medium";
    color: #1780F8;
}

.page-section__subtitle--white {
    color: #fff;
}

.page-section__title-style {
    margin-bottom: 30px;
}

.page-section__title-style .first-line {
    display: inline-block;
    border-top: 3px solid #1680F8;
    border-bottom: 3px solid #1680F8;
    padding: 0px 120px;
    border-radius: 5px;
    position: relative;
}

.page-section__title-style .first-line:after {
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: -17px;
    top: -4px;
    background-color: #1680F8;
}

.page-section__title-style .second-line {
    display: inline-block;
    border-top: 3px solid #1680F8;
    border-bottom: 3px solid #1680F8;
    padding: 0px 40px;
    border-radius: 5px;
    position: relative;
    margin-left: 38px;
}

.page-section__title-style .second-line:before {
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: -4px;
    background-color: #1680F8;
}

.steps__single {
    margin-bottom: 80px;
}

.steps__single img {
    margin-bottom: 30px;
}

.steps__single p {
    max-width: 170px;
    margin-right: auto;
    margin-left: auto;
}

.steps__single-first {
    float: left;
}

@media (max-width: 991px) {

    .steps__single-first {
        float: none
    }
}

.steps__single-last {
    float: right;
}

@media (max-width: 991px) {

    .steps__single-last {
        float: none
    }
}

.button {

    display: inline-block;
    padding: 12px 55px;
    font-family: "Geometria-Medium";
    font-size: 16px;
    color: #fff;
    border-radius: 30px;
    background-color: #1680F8;
    -webkit-box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.21);
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.21);
}

.button--white {
    background-color: #fff;
    color: #0f81f8;
}

.button--form {
    display: inline-block;
    padding: 12px 70px;
    border-radius: 30px;
    border: 0;
    font-family: "Vazir";
    font-weight: bold;
    background-color: #fff;
    font-size: 18px;
    color: #0f81f8;
    -webkit-box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.21);
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.21);
    border: 1px solid transparent;
    transition: all .2s;
}

.button--form:hover{
    border: 1px solid #fff;
    background: #20f2a0;
    color: #fff;
}

.video--bg {
    background-color: #187DED;
}

.video__left {
    background: url("/static/assets/images/video-player-bg.png") left center no-repeat;
    height: 450px;
    background-size: cover;
}

.video__left .material-icons {
    font-size: 80px;
    color: #0f81f8;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video__title {
    font-size: 40px;
    color: #ffffff;
}

.video__title-style {
    margin-bottom: 30px;
}

.video__title-style .first-line {
    display: inline-block;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 0px 100px;
    border-radius: 5px;
    position: relative;
}

.video__title-style .first-line:after {
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: -17px;
    top: -4px;
    background-color: #fff;
}

.video__title-style .second-line {
    display: inline-block;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 0px 40px;
    border-radius: 5px;
    position: relative;
    margin-left: 38px;
}

.video__title-style .second-line:before {
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: -4px;
    background-color: #fff;
}

.video__right {
    margin-top: 10%;
}

.video__right p {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

#myModal {
    background: rgba(0, 0, 0, 0.8);
}

#myModal .close {
    background: rgba(255, 64, 134, 1) !important;
    z-index: 890;
    color: #fff;
    font-size: 24px;
    margin: 0;
    outline: none;
    opacity: 1;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 0;
    width: 28px;
    height: 28px;
}

#myModal .modal-body {
    padding: 0;
}

#myModal .embed-responsive {
    height: 489px;
    padding: 0;
    overflow: hidden;
}

.sponsors--bg {
    background-color: #FAFAFA;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sponsors__single {
    text-align: center;
}

@media (max-width: 1199px) {

    .sponsors__single {
        margin-bottom: 50px
    }
}

.testimonial__title-style {
    margin-bottom: 30px;
}

.testimonial__title-style .first-line {
    display: inline-block;
    border-top: 3px solid #1680F8;
    border-bottom: 3px solid #1680F8;
    padding: 0px 70px;
    border-radius: 5px;
    position: relative;
}

.testimonial__title-style .first-line:after {
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: -17px;
    top: -4px;
    background-color: #1680F8;
}

.testimonial__title-style .second-line {
    display: inline-block;
    border-top: 3px solid #1680F8;
    border-bottom: 3px solid #1680F8;
    padding: 0px 25px;
    border-radius: 5px;
    position: relative;
    margin-left: 38px;
}

.testimonial__title-style .second-line:before {
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: -4px;
    background-color: #1680F8;
}

.testimonial .button-testimonial {
    background-color: #fff;
    border: 0;
    text-align: left;
    display: block;
    padding-left: 90px;
    margin-top: 25px;
}

.testimonial .button-testimonial h2 {
    font-size: 20px;
    color: #08294c;
    margin-bottom: 5px;
}

.testimonial .button-testimonial p {
    font-size: 13px;
    color: #08294c;
}

.testimonial .button-testimonial-1 {
    background: url("/static/assets/images/testimonial1.png") left center no-repeat;
}

.testimonial .button-testimonial-2 {
    background: url("/static/assets//images/testimonial2.png") left center no-repeat;
}

.testimonial .button-testimonial-3 {
    background: url("/static/assets//images/testimonial3.png") left center no-repeat;
}

.testimonial .button-testimonial-4 {
    background: url("/static/assets//images/testimonial4.png") left center no-repeat;
}

.testimonial .collapsed {
    opacity: .4;
}

.testimonial .collapse__wrapper {
    padding: 20px 40px;
    -webkit-box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.09);
    border-radius: 7px;
}

.testimonial .collapse__wrapper .paragraph {
    font-size: 16px;
    color: #08294c;
    line-height: 2;
    padding-bottom: 90px;
}

.testimonial .collapse__wrapper .bio h2 {
    font-size: 30px;
    color: #08294c;
    margin-bottom: 5px;
}

.testimonial .collapse__wrapper .bio p {
    font-size: 16px;
    color: #08294c;
}

.testimonial .collapse__wrapper .bio-1 {
    background: url("/static/assets//images/testimonial1.png") left center no-repeat;
    padding: 5px 100px;
}

.testimonial .collapse__wrapper .bio-2 {
    background: url("/static/assets//images/testimonial2.png") left center no-repeat;
    padding: 5px 100px;
}

.testimonial .collapse__wrapper .bio-3 {
    background: url("/static/assets//images/testimonial3.png") left center no-repeat;
    padding: 5px 100px;
}

.testimonial .collapse__wrapper .bio-4 {
    background: url("/static/assets//images/testimonial4.png") left center no-repeat;
    padding: 5px 100px;
}

.testimonial .collapse__wrapper .star {
    margin-top: 40px;
    margin-bottom: 20px;
}

.testimonial .collapse__wrapper .star li {
    display: inline-block;
}

.testimonial .collapse__wrapper .star li .material-icons {
    font-size: 19px;
    color: #0f81f8;
    margin-right: 5px;
}

.testimonial-right {
    padding-left: 50px;
    max-height: 470px;
    overflow-y: scroll;
}

@media (max-width: 991px) {

    .testimonial-right {
        margin-top: 40px
    }
}

.collapse.in:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 25px solid #fff;
    position: absolute;
    top: 40px;
    right: -10px;
    -webkit-filter: drop-shadow(3px 0px 2px rgba(0, 0, 0, 0.07));
    filter: drop-shadow(3px 0px 2px rgba(0, 0, 0, 0.07));
}

@media (max-width: 991px) {

    .collapse.in:after {
        display: none
    }
}


.team--bg {
    background-color: #FCFCFC;
}

.team__title-style {
    margin-bottom: 30px;
}

.team__title-style .first-line {
    display: inline-block;
    border-top: 3px solid #1680F8;
    border-bottom: 3px solid #1680F8;
    padding: 0px 50px;
    border-radius: 5px;
    position: relative;
}

.team__title-style .first-line:after {
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: -17px;
    top: -4px;
    background-color: #1680F8;
}

.team__title-style .second-line {
    display: inline-block;
    border-top: 3px solid #1680F8;
    border-bottom: 3px solid #1680F8;
    padding: 0px 18px;
    border-radius: 5px;
    position: relative;
    margin-left: 38px;
}

.team__title-style .second-line:before {
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: -4px;
    background-color: #1680F8;
}

.team__single {
    border-radius: 10px;
    border: 0;
    -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 25px;
}

@media (max-width: 991px) {

    .team__single {
        margin-bottom: 50px
    }
}

.team__single .bio img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.team__single .bio h2 {
    font-size: 20px;
    color: #08294c;
}

.team__single .bio p {
    font-size: 16px;
    color: #08294c;
}

.team__single .caption p {
    font-size: 16px;
    color: #08294c;
    line-height: 1.8;
    margin-bottom: 25px;
}

.team__single .caption .social-icons li {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.team__single .caption .social-icons li a {
    display: block;
}

.team__single .caption .social-icons li [class^="flaticon-"]:before, .team__single .caption .social-icons li [class*=" flaticon-"]:before {
    margin: 0;
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    font-size: 12px;
    padding-top: 2px;
    text-align: center;
    background-color: #DBE4E8;
    color: #fff;
}

.form--bg {
    background: url("/static/assets//images/form-background.png") left center no-repeat;
    background-size: cover;
}

.form__title-style {
    margin-bottom: 30px;
}

.form__title-style .first-line {
    display: inline-block;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 0px 58px;
    border-radius: 5px;
    position: relative;
}

.form__title-style .first-line:after {
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: -17px;
    top: -4px;
    background-color: #fff;
}

.form__title-style .second-line {
    display: inline-block;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 0px 20px;
    border-radius: 5px;
    position: relative;
    margin-left: 38px;
}

.form__title-style .second-line:before {
    content: "";
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: -4px;
    background-color: #fff;
}

.form form {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
}

.form form .form-group {
    margin-bottom: 40px;
}

.form form .form-control {
    outline: none;
    border: none;
    background: transparent;
    outline-style: none;
    outline-offset: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #C1DEFD;
    border-radius: 0;
    color: #fff;
    padding: 0px 10px;
}

.form form .checkbox {
    padding-left: 40px;
}

.form form .checkbox label {
    font-size: 15px;
    color: #fff;
    padding-left: 5px;
    position: relative;
    bottom: 2px;
}

.form form .form-button {
    text-align: right;
}

@media (max-width: 991px) {

    .form form .form-button {
        text-align: left;
        padding-top: 20px
    }
}

::placeholder{
    color: #ddd !important;
    font-family: Vazir;
    font-size: 17px;
}

.footer--bg {
    background-color: #102F4F;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__left .navbar-brand {
    margin-bottom: 50px;
    display: block;
    float: none;
    margin-top: 10px;
}

.footer__left p {
    color: #fff;
    font-size: 15px;
}

.footer__left p span {
    color: #8392A4;
}

.footer__link li {
    margin-bottom: 20px;
}

.footer__link li a {
    font-family: Vazir;
    font-size: 17px;
    color: #6ca6df;
}

.footer__social-icons {
    text-align: right;
    margin-top: 60px;
}

.footer__social-icons li {
    display: inline-block;
    margin-right: 15px;
}

.footer__social-icons li:last-child {
    margin-right: 0;
}

.footer__social-icons li [class^="flaticon-"]:before, .footer__social-icons li [class*=" flaticon-"]:before {
    margin: 0;
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    background-color: #4C627A;
    color: #102F4F;
}

.footer__social-icons li a {
    display: block;
}

@media (max-width: 991px) {
    .footer .row > div {
        margin-bottom: 50px;
    }
}

/* Custome Base Css */


.BlurAllElementsExceptMessage_Alert > :not(.ContainerMessage_Alert) {
    filter: blur(8px);
}

.BtnStyle_1 {
    padding: 6px;
    width: 85px;
    border-radius: 4px;
    background: var(--ColorBase);
    color: #ffffff;
    transition: box-shadow .1s, background-color .15s;
    margin: 5px;
    border: none;
}

.BtnStyle_1:focus {
    background: #00e1c0;
    color: white;
}

.BtnStyle_1:active {
    box-shadow: none;
    transform: scale(.95);
}

.BtnStyle_1:hover {
    background: #00e1c0;
    color: white;
}

.BtnStyle_1_OutLine {
    padding: 6px;
    width: 85px;
    border-radius: 4px;
    background: inherit;
    color: var(--ColorBase);
    border: 1px solid var(--ColorBase);
    transition: box-shadow .1s, background-color .15s;
    margin: 5px;
}

.BtnStyle_1_OutLine:focus {
    background: #00e1c0;
    color: white;
}

.BtnStyle_1_OutLine:active {
    box-shadow: none;
    transform: scale(.95);
}

.BtnStyle_1_OutLine:hover {
    background: #00e1c0;
    color: white;
}

.ContainerMessage_Alert {
    display: inline-block;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .5);
    background: #ffffff;
    position: fixed !important;
    top: 20%;
    z-index: 12;
    text-align: center;
    padding: 90px;
    padding-bottom: 110px;
    border-radius: 5px;
    animation: AnimationShowMessageAlert .5s;
}

@keyframes AnimationShowMessageAlert {
    0% {
        transform: translateY(-120px);
    }
    100% {
        transform: translateY(0);
    }
}

.TextMessage_Alert {
    font-size: 90%;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
}

.TextMessage_Alert p {
    text-align: center;
    width: 100%;
    color: #ffb44e !important;
    margin-top: 5px;
    word-break: break-word;
    font-size: 90%;
}

.BtnClose1_Alert {
    position: absolute;
    right: 1%;
    top: 1%;
    color: #ff4c51;
    font-size: 110%;
    cursor: pointer;
}

.BtnClose1_Alert:hover {
    color: #ff282c;
}

.BtnClose_Alert {
    font-weight: bold;
    background: rgba(255, 102, 108, 0.7);
    position: absolute;
    right: 1%;
    bottom: 2%;
    color: #464646;
}

.BtnClose_Alert:hover {
    background: rgba(255, 102, 108, 0.85) !important;
}

.BtnClose_Alert:focus {
    background: rgba(255, 102, 108, 0.9) !important;
    color: #ffffff;
}

.BtnOk_Alert {
    font-weight: bold;
    background: rgb(81, 255, 163);
    position: absolute;
    left: 1%;
    bottom: 2%;
    color: #464646;
}

.BtnOk_Alert:hover {
    background: rgb(25, 232, 145) !important;
    color: #ffffff;
}

.BtnOk_Alert:focus {
    background: rgb(12, 232, 146) !important;
    color: #ffffff;
}

.ContainerMessage_Alert button {
    border: none;
    padding: 7px;
}

.ContainerMessage_Alert button:focus {
    outline: none;
}


#ContainerNotificationsMessage {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 9999999;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.NotificationMessage {
    position: relative;
    padding: 4px;
    margin: 15px 10px;
    width: 300px;
    box-shadow: 0 5px 8px rgba(148, 148, 148, 0.1);
    direction: rtl;
    text-align: center;
    border-radius: 4px;
    transition: all 1s;
    background: #ffffff;
    animation: ShowNotification_Animation_1 .3s;
}

.Notification_Removed {
    animation: Animation_Notification_Removed .25s forwards;
}

@keyframes Animation_Notification_Removed {
    100% {
        transform: translateX(-300px);
        opacity: 0;
    }
}

@keyframes ShowNotification_Animation_1 {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

.LevelOfNecessity_1 {
    width: 250px;
}

.LevelOfNecessity_1 p {
    font-size: 90%;
}

.LevelOfNecessity_2 {
    width: 280px;
}

.LevelOfNecessity_2 p {
    font-size: 100%!important;
}

.LevelOfNecessity_3 {
    width: 330px;
}

.LevelOfNecessity_3 p {
    font-size: 105%!important;
}

.LevelOfNecessity_4 {
    width: 350px;
}

.LevelOfNecessity_4 p {
    font-size: 110%!important;
}

.LevelOfNecessity_5 {
    width: 400px;
}

.LevelOfNecessity_5 p {
    font-size: 120%!important;
}


.NotificationMessage p {
    margin: 0;
    margin-top: 2px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.IconNotification {
    position: absolute;
    left: 7px;
    top: 7px;
    font-size: 130%!important;
}

.IconNotification_Success {
    color: #1af196;
}

.IconNotification_Error {
    color: #f15368;
}

.IconNotification_Warning {
    color: #ffaf07;
}

.BtnCloseNotification {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    text-align: right;
    display: block !important;
    font-size: 95%;
    cursor: pointer;
    transform: rotate(0) !important;
    color: #ff7e79;
}

.BtnCloseNotification:hover {
    color: #ff0c00;
}

.NotificationSuccess {
    box-shadow: 0 3px 1px #1af196;
}

.NotificationSuccess p {
    color: #17c3b2;
}

.NotificationError {
    box-shadow: 0 3px 1px #f15368;
}

.NotificationError p {
    color: #ff4558;
}

.NotificationWarning {
    border: 1px solid rgba(255, 209, 51, 0.35);
    box-shadow: 0 3px 1px #ffaf07;
}

.NotificationWarning p {
    color: #ffaf07;
}

.Success {
    box-shadow: 0 0 3px #17c3b2;
    color: #17c3b2;
}

.Success p {
    color: #17c3b2;
}

.Alert {
    box-shadow: 0 0 3px #ff4558;
    color: #ff4558;
}

.Alert p {
    color: #ff4558;
}

.Warning {
    box-shadow: 0 0 3px #ffd070;
}

.Warning p {
    color: #e0bc5e;
}

@media screen and (min-width: 1201px) {
    .ContainerMessage_Alert {
        width: 35%;
        left: 32.5%;
    }

    .TextMessage_Alert {
        font-size: 100%;
    }

    .ContainerBlur[Size='Medium'] {
        width: 70%;
        right: 15%;
    }

}

@media screen and (max-width: 1200px) {
    .ContainerMessage_Alert {
        width: 45%;
        left: 27.5%;
    }

    .TextMessage_Alert {
        font-size: 95%;
    }

}

@media screen and (max-width: 992px) {
    .ContainerMessage_Alert {
        width: 50%;
        left: 25%;
    }

    .TextMessage_Alert {
        font-size: 90%;
    }

    .ContainerBlur[Size='Small'] {
        width: 70%;
        right: 15%;
    }

}

@media screen and (max-width: 768px) {

    .ContainerMessage_Alert {
        width: 60%;
        left: 20%;
        padding: 80px 30px;
    }

    .TextMessage_Alert {
        font-size: 85%;
    }

    .TextMessage_Alert {
        width: 100%;
    }

    .ContainerBlur {
        width: 80%;
        right: 10%;
    }

    .ItemFormInput i {
        text-align: center;
        width: 10%;
        vertical-align: middle;
        font-size: 120%;
    }

    .ContainerBlur[Size='Small'] {
        width: 75%;
        right: 12.5%;
    }
}

@media screen and (max-width: 550px) {
    .ContainerMessage_Alert {
        width: 80%;
        left: 10%;
    }

    .TextMessage_Alert {
        font-size: 90%;
    }

    .ContainerBlur[Size='Medium'] {
        width: 85%;
        right: 7.5%;
    }

    .ContainerBlur[Size='Small'] {
        width: 88%;
        right: 6%;
    }
}

@media screen and (max-width: 400px) {

    .ContainerMessage_Alert {
        width: 90%;
        left: 5%;
    }

    .TextMessage_Alert {
        font-size: 95%;
    }

    .ContainerBlur[Size='Medium'] {
        width: 98%;
        right: 1%;
    }

    .ContainerBlur[Size='Small'] {
        width: 98%;
        right: 1%;
    }

}

@media screen and (max-width: 350px) {

    .ContainerMessage_Alert {
        width: 95%;
        left: 2.5%;
    }

    .TextMessage_Alert {
        font-size: 88%;
    }

}


/* End Custome Base */

#modal-reserve-time .modal-title{
    font-family: Kalameh;
    direction: rtl;
}

.close{
    float: left!important;
}

#form-reserve {
    direction: rtl;
}

#form-reserve label{
    font-family: Vazir;
}

#form-reserve input{
    height: 38px;
}

#form-reserve button{
    border: none;
    outline: none;
    background: #00cbe9;
    color: #fff;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    font-family: Vazir;
    font-weight: bold;
    display: block;
    border-radius: 8px;
    font-size: 110%;
}

.container-phone{
    background: #fff;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 100px;
    display: inline-block;
    padding: 20px 60px;
}

.container-phone > div{
    font-size: 160%;
    color: #ff765b;
}